/* CONFIGURAÇÃO DO ESQUELETO WEB */
body {
    background-color: #0f172a;
}

h2 {
    text-align: center;
    font-family:'Inter', sans-serif;
    font-weight: 1000;
    font-size: clamp(2.5rem, 8vw, 4rem);
    line-height: 1.1;
    letter-spacing: -0.03em;
    color:antiquewhite;
}


p {
    color:antiquewhite;
    text-align: center;
}